@import '~styles/modal';

.buttonFacebook {
    background-color: #3c5a99
}

.buttonFullwidth {
    width: 100%
}




.mr3 {
    margin-right: var(--cf-scale-2);
    vertical-align: middle;
}
.mb4 {
    margin-bottom: var(--cf-scale-3);
}
