.course-cards-grid .container {
    width: 1010px
}

@media only screen and (max-width: 1010px) {
    .course-cards-grid .container {
        width:760px
    }
}

@media only screen and (max-width: 760px) {
    .course-cards-grid .container {
        width:auto
    }

    .course-cards-grid .card-wrapper {
        text-align: center
    }
}

.card--teaching {
    border: 1px solid rgba(28,29,31,.25);
    background-color: #fff;
    height: 120px;
    display: flex
}

.card--teaching * {
    border-color: inherit
}

.card--teaching .col-bordered {
    padding: 0 10px!important;
    border-left: 1px solid rgba(28,29,31,.25);
    position: relative
}

.card--teaching .col-bordered .card--teaching__link {
    top: -10px;
    bottom: -10px
}

.card--teaching .details__name {
    font-weight: 700;
    margin-bottom: 5px;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 41px
}

.card--teaching .details__card-status {
    line-height: 1.287;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px
}

.card--teaching .status-label {
    flex-grow: 1;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.card--teaching .price-label {
    flex-grow: 0
}

.card--teaching.needs-fixes {
    border-color: #e59819
}

.card--teaching.needs-fixes .status-label {
    color: #e59819
}

.card--teaching.approved .status-label {
    color: #2d907f
}

.card--teaching__image {
    width: auto;
    height: 100%;
    padding: 10px
}

.card--teaching__metrics {
    position: relative;
    padding: 10px 0;
    height: 100%;
    border-right: 1px solid transparent
}

.card--teaching__link {
    position: absolute;
    display: block;
    height: auto;
    bottom: 0;
    width: auto;
    right: -1px;
    top: 0;
    left: -1px
}

.card--teaching__link .label {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.card--teaching__link:hover,.card--teaching__link:focus {
    background-color: rgba(28,29,31,.55)
}

.card--teaching__link:hover .label,.card--teaching__link:focus .label {
    visibility: visible
}

.card--teaching__body {
    width: 100%;
    height: 100%;
    position: relative
}

.card--teaching__details {
    padding: 10px;
    position: relative;
    height: 100%;
    width: 30%
}

@media only screen and (max-width: 760px) {
    .card--teaching__details {
        width:100%;
        flex: 1;
        min-width: 1px
    }

    .card--teaching__metrics {
        display: none
    }
}

.view-more--3-lines {
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -o-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal
}

.view-more--5-lines {
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    -o-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal
}

.view-more--simple {
    max-height: 280px;
    overflow: hidden
}

.view-more__content p:last-child {
    margin-bottom: 0
}

.activity-notification--page-view {
    padding-bottom: 1.6rem
}

.activity-notification--page-view .nav-container {
    position: relative;
    margin-top: -57px;
    text-align: right
}

.activity-notification--page-view .nav-fader {
    display: none
}

.activity-notification--page-view .nav-tabs>li>a {
    color: #fff;
    font-size: 18px
}

.activity-notification--page-view .nav-tabs>li>a:hover,.activity-notification--page-view .nav-tabs>li.active>a,.activity-notification--page-view .nav-tabs>li.active>a:hover,.activity-notification--page-view .nav-tabs>li.active>a:focus {
    border-color: #fff;
    color: #fff
}

.activity-notification--page-view .nav-tabs .badge {
    margin-left: .4rem
}

.activity-notification--page-view .notification__list-container {
    width: 650px;
    max-width: 100%;
    position: relative;
    max-height: none;
    overflow: visible;
    margin-left: -15px
}

.activity-notification--page-view .notification__message {
    height: 45px
}

.jumbotron-header-bar--notifications {
    background: #3e4143
}

.item-wrapper {
    box-shadow: 0 1px 0 0 #d1d7dc,0 -1px 0 0 #d1d7dc;
    padding: 20px
}

.item-section {
    padding-bottom: 10px;
    color: #3e4143;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.item-section__status {
    padding: 10px 0
}

.item-section__status.initial {
    color: #3e4143
}

.item-section__status.pending {
    color: #f3ca8c
}

.item-section__status.failed {
    color: #e25d3f
}

.item-section__status.active {
    color: #a435f0
}

@media(min-width: 576px) {
    .item-section__status {
        padding:0
    }
}

.item-section__button {
    width: 145px
}

@media(min-width: 576px) {
    .item-section__button {
        margin-left:20px
    }
}

.item-section__paypal-logo {
    width: auto;
    height: 26px;
    margin: 4px 20px 4px 0
}

.item-section__payoneer-logo {
    width: auto;
    height: 34px;
    margin-right: 20px
}

.item-section__jpm-logo {
    width: auto;
    height: 21px;
    margin: 4px 20px 4px 0
}

.ud-component--user-manage--jpmorgan-iframe {
    height: 0;
    width: 100%;
    transition: height .25s ease-in-out
}

.popup-wrapper {
    text-align: center
}

.popup-section {
    border: 1px solid #d1d7dc;
    padding: 10px 15px;
    color: #3e4143;
    margin-top: 20px;
    line-height: 20px;
    font-size: 15px;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif
}

.popup-button {
    cursor: pointer;
    background-color: #a435f0;
    border: none;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif
}

.green-badge {
    background-color: #1e6055;
    font-size: 8px;
    line-height: 14px;
    font-weight: 700;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
    display: inline-block;
    white-space: nowrap
}

.ach-heading {
    font-size: 18px;
    font-weight: 700;
    color: #1c1d1f;
    margin-right: 2px
}

.flex-container {
    display: flex;
    align-items: center
}

.left-margin {
    margin-left: 20px
}

.uppercase {
    text-transform: uppercase
}

.collapsible-area {
    display: none;
    margin-top: 10px
}

.collapsible-button {
    padding-left: 0
}

.public-profile {
    background-color: #f7f9fa
}

.instructor-wrapper .instructor__profile {
    background-color: #fff
}

.instructor-wrapper .instructor__social {
    margin: 20px 0 0;
    text-align: center
}

.instructor-wrapper .instructor__stats {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px
}

.instructor-wrapper .instructor__stats li {
    border-left: 1px solid rgba(28,29,31,.25);
    padding: 0 15px;
    text-align: left
}

.instructor-wrapper .instructor__stats .tooltip-container .tooltip-inner {
    width: 250px;
    white-space: normal
}

.instructor-wrapper .instructor__message-bt {
    width: 202px;
    margin: 20px auto 0
}

.instructor-wrapper .instructor__tab-container {
    background: #fff
}

.instructor-wrapper .instructor__tab-container .nav-tabs {
    display: table;
    margin: 0 auto
}

.instructor-wrapper .instructor__tab-container .tab-content {
    background-color: #f7f9fa;
    border-color: #f7f9fa;
    padding-bottom: 60px
}

.instructor-wrapper .social__link {
    font-size: 21px;
    line-height: 35px;
    margin: 0 7px
}

.instructor-wrapper .container {
    max-width: 1010px;
    padding: 0 30px
}

.instructor-wrapper .card-wrapper {
    margin-right: -15px;
    text-align: center
}

@media(min-width: 768px) {
    .instructor-wrapper .container {
        padding:0 15px
    }

    .instructor-wrapper .instructor__avatar,.instructor-wrapper .instructor__message-bt {
        width: 100%
    }
}

.update-credit-cards {
    border-top: 1px solid #d1d7dc;
    padding: 15px
}

.update-credit-cards h2 {
    color: #3e4143;
    font-size: 13px;
    line-height: 1.2
}

.update-credit-cards ul {
    background: #fff;
    border: 1px solid #d1d7dc;
    box-shadow: 0 1px 1px #d1d7dc;
    margin-top: 10px
}

.update-credit-cards li {
    border-top: 1px solid #d1d7dc;
    overflow: hidden;
    padding: 10px
}

.update-credit-cards li:first-child {
    border: 0
}

.update-credit-cards li:nth-child(2n+1) {
    background: #fff
}

.update-credit-cards li:nth-child(2n) {
    background: #f7f9fa
}

.update-credit-cards li input {
    position: relative;
    top: -5px
}

.update-credit-cards .credit-card-container {
    border-bottom-style: dotted;
    border-bottom-width: thin
}



.update-credit-cards .icon.visa {
    background-position: -150px -332px
}

.update-credit-cards .icon.mastercard,.update-credit-cards .icon.mc {
    background-position: -151px -371px
}

.update-credit-cards .icon.amex {
    background-position: -221px -380px
}

.update-credit-cards .icon.discover {
    background-position: -220px -340px
}

.update-credit-cards .title {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: middle;
    color: #3e4143
}

.update-credit-cards .title b {
    color: #3e4143
}

.update-credit-cards a.other {
    font-size: 13px;
    text-decoration: underline;
    margin-top: 7px;
    display: inline-block
}

.manage-fields-wrapper {
    box-shadow: 0 1px 0 0 #d1d7dc,0 -1px 0 0 #d1d7dc
}

.manage-fields-wrapper~.manage-fields-wrapper {
    box-shadow: 0 1px 0 0 #d1d7dc,0 0 0 0 #d1d7dc
}

.manage-fields-wrapper .form-section,.manage-fields-wrapper .form-section--fake-label {
    padding: 10px 142px
}

.manage-fields-wrapper .form-section:first-child,.manage-fields-wrapper .form-section--fake-label:first-child {
    padding-top: 20px
}

.manage-fields-wrapper .form-section:last-child,.manage-fields-wrapper .form-section--fake-label:last-child {
    padding-bottom: 40px
}

.manage-fields-wrapper .form-section.border-top,.manage-fields-wrapper .form-section--fake-label.border-top {
    border-top: 1px solid #d1d7dc;
    box-shadow: 0 1px 0 0 #fff inset
}

.manage-fields-wrapper .form-section.dark,.manage-fields-wrapper .form-section--fake-label.dark {
    background: #d1d7dc
}

@media(max-width: 991px) {
    .manage-fields-wrapper .form-section,.manage-fields-wrapper .form-section--fake-label {
        padding:10px 20px
    }
}

.manage-fields-wrapper .form-section--fake-label {
    padding-bottom: 0
}

#edit-template {
    margin: 20px auto 40px;
    max-width: 1100px;
}

#edit-template #main-section {
    padding-left: 195px;
    position: relative;
}

#edit-template #main-section h2 {
    color: #1c1d1f;
    text-align: center;
    line-height: 1!important;
    font-weight: 700!important;
    font-size: 22px;
    margin: 20px 0 3px;
    max-width: none !important;
    
}

#edit-template #main-section h3 {
    font-size: 15px;
    font-weight: 400;
    color: #1c1d1f;
    text-align: center;
    margin: 0 0 15px;
    line-height: 25px
}

#edit-template #main-section .side-nav {
    overflow: visible
}

#edit-template #user-short {
    padding: 10px;
    text-align: center
}

#edit-template #user-short h2 {
    position: relative;
    font-size: 15px;
    min-height: 17px;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal
}

#edit-template #user-short h3 {
    font-size: 13px;
    font-style: italic;
    margin: 0;
    line-height: 1.2
}

#edit-template .form-wrapper {
    background: #fff;
    position: relative;
    min-height: 600px;
    margin: 20px auto;
    border: 1px solid #d1d7dc
}

#edit-template .form-wrapper .edit-handle>*:first-child {
    display: inline-block;
    margin-left: -1px
}

#edit-template .form-wrapper .edit-handle .btn {
    background-color: #f7f9fa;
    border: 1px solid #1c1d1f;
    color: #1c1d1f;
    width: 44px;
    height: 44px
}

#edit-template .form-wrapper .submit-row {
    width: 100%;
    margin: 10px 0 15px;
    text-align: center
}

.container--notification-preference .form-wrapper {
    border: 0
}

.container--notification-preference .manage-fields-wrapper {
    box-shadow: none
}

.status--disapproved {
    color: #e59819
}

.word-wrap {
    word-break: break-all;
    word-wrap: break-word
}

.labeled--sr-only label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

@media(max-width: 767px) {
    #edit-template {
        overflow:hidden
    }

    #edit-template #main-section {
        padding: 0 5px
    }

    #edit-template #main-section h2 {
        font-size: 14px
    }

    #edit-template #main-section h3 {
        font-size: 12px
    }

    #edit-template .side-nav>ul {
        flex: 1;
        min-width: 1px
    }
}

.practice-viewer .view-mode ul {
    list-style-type: initial
}

.practice-viewer .view-mode ul.dropdown-menu {
    padding-left: 5px;
    list-style-type: none
}

.practice-viewer .view-mode ul,.practice-viewer .view-mode ol {
    padding-left: 40px;
    margin-bottom: 10px
}

.practice-viewer .view-mode .download {
    padding-top: 30px;
    padding-left: 0
}

.practice-viewer .view-mode .download ul {
    list-style-type: none;
    padding-left: 0
}

.practice-viewer .question__list {
    counter-reset: questions
}

.practice-viewer .question__list .question__list__item {
    margin-bottom: 50px
}

.practice-viewer .question__list .question__list__item .question__title {
    margin-left: -25px;
    font-weight: 700
}

.practice-viewer .question__list .question__list__item .question__title::before {
    counter-increment: questions;
    content: counter(questions) '. ';
    position: absolute
}

.practice-viewer .question__list .question__list__item .question__title .question__title--text {
    margin-left: 25px
}

.teaching-wrapper .qrp-reactivate-modal {
    max-width: 600px
}

@media(min-width: 576px) {
    .main-content {
        display:flex
    }
}

.page-frame {
    display: flex;
    flex: 1;
    min-width: 1px;
    margin-top: -65px;
}

.side-nav-app {
    z-index: 1011;
}

.side-nav-app>div {
    height: 100%
}

.main_container {
    display: flex;
    min-width: 1px;
    padding-top: 65px;
    margin-bottom: 64px;
    width: 100%;
    justify-content: center
}

@media(max-width: 767px) {
    .main_container {
        padding:65px 10px 10px
    }
}

.c_header .c_header__inner {
    max-width: 100%;
    padding-right: 11px
}

.responsive_container {
    max-width: 1552px;
    padding: 0 56px;
    min-height: 720px;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px
}

.responsive_container h1 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 32px
}

@media(max-width: 767px) {
    .responsive_container h1 {
        margin-top:20px
    }
}

@media(max-width: 767px) {
    .responsive_container {
        padding:0 5px;
        width: 100%;
        margin: 0
    }
}

@media(min-width: 768px) {
    .responsive_container {
        width:inherit;
    }
}

@media(min-width: 992px) {
    .responsive_container {
        /* width:inherit */
    }
}

@media(min-width: 1200px) {
    .responsive_container {
        /* width:inherit */
    }
}

@media(min-width: 1440px) {
    .responsive_container {
        /* width:inherit */
    }
}

.side-nav {
    display: flex;
    position: relative;
    min-width: 56px
}

@media(max-width: 767px) {
    .side-nav {
        z-index:1030;
        min-width: 0;
        display: none
    }
}

.side-nav-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1030
}

@media(max-width: 767px) {
    .side-nav-inner {
        position:relative
    }
}

.side-nav-open {
    position: relative;
    min-width: 286px
}

@media(max-width: 767px) {
    .side-nav-open {
        min-width:0
    }
}

.primary-menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 56px;
    height: 100%;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -ms-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    background-color: #1c1d1f;
    box-shadow: 0 4px 8px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.24)
}

@media(max-width: 767px) {
    .primary-menu {
        padding-top:60px;
        height: auto
    }
}

.primary-menu .logo {
    font-size: 34px
}

.primary-menu .nav-button {
    border-left: 4px solid transparent;
    white-space: nowrap;
    overflow: hidden
}

.primary-menu .nav-button>a {
    color: #fff;
    background-color: #1c1d1f;
    padding: 16px 16px 15px 12px
}

.primary-menu .nav-button>a:visited {
    color: #fff;
    background-color: #1c1d1f
}

.primary-menu .nav-button>a:hover,.primary-menu .nav-button>a:focus {
    background-color: #3e4143
}

.primary-menu .nav-button:hover {
    background-color: #3e4143
}

.primary-menu .nav-button.active {
    box-sizing: border-box;
    border-left: 4px solid #a435f0
}

.primary-menu .icon {
    font-size: 24px;
    vertical-align: middle
}

.primary-menu .nav-button,.primary-menu .logo-menu-item {
    position: inherit;
    width: 100%
}

.primary-menu .nav-container {
    width: 100%;
    position: sticky;
    top: 0
}

.primary-menu .nav-container ul.nav-stacked>li+li {
    margin-top: 0
}

@media(max-width: 767px) {
    .primary-menu .nav-container {
        display:none
    }
}

.primary-menu .title {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    display: inline-block;
    padding-left: 26px;
    opacity: 0
}

.primary-menu .logo-menu-item {
    overflow: hidden
}

.primary-menu .logo-menu-item a {
    display: block;
    overflow: hidden;
    padding-top: 15px;
    margin-bottom: 4px;
    padding-left: 20px
}

.primary-menu .logo-menu-item a:hover,.primary-menu .logo-menu-item a:visited,.primary-menu .logo-menu-item a:hover:after,body.keyboard-navigation-in-use .primary-menu .logo-menu-item a:focus,body.keyboard-navigation-in-use .primary-menu .logo-menu-item a:focus:after {
    outline: none;
    background-color: #3e4143
}

.primary-menu .logo-menu-item a:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 35px;
    height: 100%;
    width: 236px;
    background-color: #1c1d1f;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out
}

.primary-menu:not(.no-expand):not(.in-use):hover,.primary-menu:not(.no-expand):not(.in-use).on-focus {
    width: 286px
}

.primary-menu:not(.no-expand):not(.in-use):hover .title,.primary-menu:not(.no-expand):not(.in-use).on-focus .title {
    display: inline-block;
    padding-left: 26px;
    opacity: 1
}

.primary-menu:not(.no-expand):not(.in-use):hover .logo-menu-item a:after,.primary-menu:not(.no-expand):not(.in-use).on-focus .logo-menu-item a:after {
    opacity: 0
}

.primary-menu~.nav-container {
    height: 100%;
    position: relative;
    top: 0;
    background-color: #f7f9fa
}

.nav-button .communication-badge {
    top: 11px;
    left: 35px;
    border: none;
    position: absolute;
    font-size: 0;
    min-width: 0;
    height: 6px;
    width: 6px;
    padding: 2px
}

.secondary-menu .subnav-button .secondary-menu-badge,.secondary-menu .subnav-button.active .secondary-menu-badge {
    color: #f7f9fa;
    background-color: #a435f0;
    top: -2px;
    position: relative;
    left: 0
}

@media(max-width: 767px) {
    .c_header--ia-instructor.c_header {
        background-color:#1c1d1f
    }

    .c_header--ia-instructor.c_header .c_header__mobile-bt {
        color: #fff;
        margin-left: 0;
        margin-top: -4px
    }

    .c_header--ia-instructor.c_header .active .menu__link.disabled a {
        color: #3e4143
    }
}

.secondary-menu {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-left: 56px;
    width: 230px;
    padding-top: 34px
}

@media(max-width: 767px) {
    .secondary-menu {
        display:none
    }
}

.secondary-menu .subnav-button>a,.secondary-menu .subnav-button.active>a {
    padding: 11px 15px 5px 32px;
    font-size: 16px;
    color: #1c1d1f;
    background-color: transparent
}

.secondary-menu .subnav-button>a:hover,.secondary-menu .subnav-button.active>a:hover,.secondary-menu .subnav-button>a:focus,.secondary-menu .subnav-button.active>a:focus {
    color: #1c1d1f;
    background-color: transparent
}

.secondary-menu .subnav-button.active>a {
    font-weight: 700
}

.secondary-menu .subnav-button.disabled>a {
    color: #3e4143
}

#edit-template #main-section {
    padding-left: 0
}

#edit-template #premium-instructor-item-wrapper .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #d1d7dc
}

#edit-template #premium-instructor-item-wrapper .list-group-item-info {
    background-color: #f7f9fa
}

#edit-template .action-tabs {
    padding-left: 0;
    padding-right: 0
}

@media(max-width: 767px) {
    #edit-template .action-tabs {
        display:none
    }
}

#edit-template .form-wrapper {
    border: 0
}

#edit-template .item-wrapper {
    box-shadow: none
}

#edit-template .manage-fields-wrapper {
    box-shadow: none
}

#edit-template .form-section {
    padding: 10px;
    max-width: 500px
}

.page-frame--ia #edit-template .form-section {
    margin: 0 auto
}

#edit-template .page-header {
    border-bottom: 0
}

.container-ia .c_activity-notification.activity-notification--page-view .nav-container {
    margin-top: 0;
    text-align: left
}

.container-ia .c_activity-notification.activity-notification--page-view .nav-tabs>li>a {
    color: #1c1d1f;
    font-size: 15px
}

.container-ia .c_activity-notification.activity-notification--page-view .nav-tabs>li>a:hover,.container-ia .c_activity-notification.activity-notification--page-view .nav-tabs>li.active>a,.container-ia .c_activity-notification.activity-notification--page-view .nav-tabs>li.active>a:hover,.container-ia .c_activity-notification.activity-notification--page-view .nav-tabs>li.active>a:focus {
    border-color: #1c1d1f;
    color: #1c1d1f
}
