@import '@pluralsight/ps-design-system-core';
@import '@pluralsight/ps-design-system-normalize';



:root {
  --zIndexBack: -1;
  --zIndexVideo: 10;
  --zIndexCommandLayer: 11;
  --zIndexCaptions: 12;
  --zIndexActionOverlay: 20;
  --zIndexControls: 32;
  --zIndexSliderBar: 33;
  --zIndexTimelineMarker: 32;
  --zIndexProgressBarTimestamp: 35;
  --zIndexMarkerTick: 35;
  --zIndexTooltips: 37;
  --zIndexTimelineHandle: 40;
  --zIndexKeyboardShortcuts: 50;
  --zIndexErrorModal: 60;

  --letterSpacingFontSizeXSmall: 0.02em;
  --letterSpacingFontSizeSmall: 0.015em;
  --letterSpacingFontSizeMedium: 0.01em;
  --letterSpacingFontSizeLarge: 0.005em;

  --colorsMenu: rgba(30, 36, 41, 0.9);
  --colorsCaptions: rgba(30, 36, 41, 0.65);
  --colorsMenuHover: rgba(138, 153, 168, 0.25);

  --spacingMenuBottom: 50px;
  --spacingMenuRight: 11px;

  --progress-bar-hover-height: 5px;
  --progress-bar-height: 3px;

  --bar-speed: 200ms;
  --menu-speed: 150ms;

  --navWidth: 360px;
  --zIndexNavToggleBtn: 70;
  --zIndexCourseTitle: 70;
  --zIndexModal: 80;
  --zIndexModalCloseBtn: 81;
  --zIndexContenItemCircle: 20;

  --letterSpacingFontSizeXLarge: -0.01em;
  --letterSpacingFontSizeJumbo: -0.01em;

  --volumeSliderContainerWidth: 66px;
  --volumeSliderWidth: 50px;

  --centerHorizontally: {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }

  --centerVertically: {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }

  --centerBoth: {
    position: absolute;
    transform: translate(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
  }

  --greedy: {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

:global(.visually-hidden) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@font-face {
  font-family: PS TT Commons Roman;
  src: url(https://fonts.pluralsight.com/ps-tt-commons/v1/ps-tt-commons-variable-roman.woff2) format("woff-variations");
  font-display: swap;
  font-weight: 100 900
}

@font-face {
  font-family: PS TT Commons Roman;
  src: url(https://fonts.pluralsight.com/ps-tt-commons/v1/ps-tt-commons-variable-italic.woff2) format("woff-variations");
  font-display: swap;
  font-style: italic
}

@font-face {
  font-family: DM Mono;
  src: url(https://fonts.pluralsight.com/dm-mono/v1/dm-mono-light.ttf) format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: DM Mono;
  src: url(https://fonts.pluralsight.com/dm-mono/v1/dm-mono-light-italic.ttf) format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: DM Mono;
  src: url(https://fonts.pluralsight.com/dm-mono/v1/dm-mono-regular.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: DM Mono;
  src: url(https://fonts.pluralsight.com/dm-mono/v1/dm-mono-italic.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: DM Mono;
  src: url(https://fonts.pluralsight.com/dm-mono/v1/dm-mono-medium.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: DM Mono;
  src: url(https://fonts.pluralsight.com/dm-mono/v1/dm-mono-medium-italic.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: italic
}


html {
  color: var(--psColorsTextIconHighOnDark) !important;
  background-color: var(--psColorsBackgroundDark1) !important; 
  text-size-adjust: 100%;
  font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif !important;;
  font-family: var(--psTypeFontFamily) !important;;
  font-size: .875em;
  font-weight: 400;
  font-weight: var(--psTypeFontWeightRegular);
  line-height: 1.71429;
  font-feature-settings: "tnum" on,"lnum" on;
}
body, html {
  height: 100%;
  font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif !important;;
  color: var(--psColorsTextIconHighOnDark) !important;
  background-color: #181818 !important
}

.rootApp {
  height: 100% !important;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  font-weight: var(--psTypeFontWeightRegular)
}

dd,ol,ul {
  margin-left: 24px;
  margin-left: var(--psLayoutSpacingLarge);
  line-height: 24px;
  line-height: var(--psTypeLineHeightStandard)
}

