.lectureContainer {
  border-top: 1px solid var(--psColorsBorderLowOnDark) !important;
}

.lectureContainer:last-child {
    border-bottom: 1px solid var(--psColorsBorderLowOnDark);
}

.lectureSubContainer {
  position: relative;
  padding-right: 54px;
  cursor: pointer;
  transition: background 300ms ease 0s;
  &.active {
    background: rgba(138, 153, 168, 0.25) !important;
  }
}

.lectureSubContainer:hover, .lectureSubContainer:focus {
    background: rgba(138, 153, 168, 0.25) !important; 
}

.lectureDiv {
  margin-right: calc(-54px);
  padding-left: 16px;
  padding-right: 54px;
}

.progressContainer {
  width: 63px;
  min-width: 63px;
  display: flex;
  justify-content: center;
  
}


.svgProgress {
  transform: rotate(-90deg);
  height: 29px;
  width: 29px;
  min-width: 29px;
  margin: 4px;
  
}

.svgCircleBackground {
  fill: transparent;
  stroke: var(--psColorsTextIconLowOnDark);
  
}

.svgProgressText {
  transform: rotate(90deg);
  fill: var(--psColorsTextIconHighOnDark);
  font-size: 13px;
  letter-spacing: var(--letterSpacingFontSizeSmall);
}

.svgProgressCircle {
    fill: none;
    stroke: var(--psColorsTextIconHighOnDark);
    &.current {
      stroke: var(--psColorsPrimaryActionTextDarkTheme);
    }
}



.lectureItemContainer {
    background: rgb(24, 28, 32);
    box-shadow: rgb(0 0 0 / 50%) 0px 1px 3px 0px inset;
    transition: box-shadow 300ms ease 0s;
    
}

.heightTransition {
  overflow: hidden;
  height: 'auto';
  transition: height 300ms ease 0s;
  
}