@font-face {
    font-family: 'icomoon';
    src: url(fonts/icomoon.eot);
    src: url(fonts/icomoon.eot?#iefix-gng7my) format("embedded-opentype"),url(fonts/icomoon.woff) format("woff"),url(fonts/icomoon.ttf) format("truetype"),url(fonts/icomoon.svg?-gng7my#icomoon) format("svg");
    font-weight: normal;
    font-style: normal;
    content:attr(data-icon)}

@font-face {
    font-family: 'icomoon-social';
    src: url(fonts/icomoon-social.eot?ok22g4);
    src: url(fonts/icomoon-social.eot?#iefixok22g4) format("embedded-opentype"),url(fonts/icomoon-social.woff) format("woff"),url(fonts/icomoon-social.ttf) format("truetype"),url(fonts/icomoon-social.svg?ok22g4#icomoon-social) format("svg");
    font-weight: normal;
    font-style: normal;
    content:attr(data-icon)}

@font-face {
    font-family: 'icomoon2';
    src: url(fonts/icomoon2.eot?tgf9zp);
    src: url(fonts/icomoon2.eot?#iefixtgf9zp) format("embedded-opentype"),url(fonts/icomoon2.woff?tgf9zp) format("woff"),url(fonts/icomoon2.ttf?tgf9zp) format("truetype"),url(fonts/icomoon2.svg?tgf9zp#icomoon) format("svg");
    font-weight: normal;
    font-style: normal;
    content:attr(data-icon)}