@import '~styles/modal';
.cfModal {
    animation-name: mcAnimateFadeIn;
    animation-duration: 350ms;
    animation-iteration-count: once;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-fill-mode: none;
    position: fixed;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 10px;
}

.cButton {
    padding: 1.2em 2.8em;
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    color: #fff !important;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border-radius: 1.2em;
    transition: background 250ms ease, box-shadow 250ms ease, opacity 250ms ease;
    vertical-align: middle;
    border: 0;
    font-family: "Sohne", "Helvetica", "Arial", sans-serif
}

.cButton:focus,.cButton.focus {
    outline: 0
}

.cButton.disabled,.cButton:disabled {
    cursor: not-allowed;
    opacity: 0.5
}

.cButton:not(:disabled):not(.disabled) {
    cursor: pointer
}

.cfBackdrop {
    position: fixed;
    background: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1040
}

.cfModalViewport {
    position: relative;
    width: auto;
    margin: 1.75rem 0;
    z-index: 1040;
    display: flex;
    align-items: center;
    min-height: calc(100% - 3.5rem)
}

.container {

}

@media only screen and (min-width: 576px) {
    .container,.container-fluid {
        padding:0 32px;
    }
}

@media only screen and (min-width: 768px) {
    .container,.container-fluid {
        padding:0 32px;
    }
}

@media only screen and (min-width: 960px) {
    .container,.container-fluid {
        padding:0 64px;
    }
}

@media only screen and (min-width: 1200px) {
    .container,.container-fluid {
        padding:0 64px;
    }

    .row {
        margin: -16px
    }

    .col,[class^="col-"],[class*=" col-"] {
        padding: 16px
    }

    .small-gutters {
        margin: -8px
    }

    .small-gutters .col,.small-gutters [class^="col-"],.small-gutters [class*=" col-"] {
        padding: 8px
    }
}


.cfModalContent {
    max-width: 336px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    outline: 0
}


.cfInvert {
    background: #fff;
    position: relative;
    color: var(--cf-theme-text);
    --cf-theme-background: #fff;
    --cf-theme-text: #000;
    --cf-theme-text-hr-span-after: rgba(0, 0, 0, 0.3);
    --cf-theme-separator: rgba(0, 0, 0, 0.3);
    --cf-theme-border-contrast: rgba(0, 0, 0, 0.5);
    --cf-theme-border-contrast-hover: #000;
    --cf-theme-applepay-border: inset 0 0 0 1px #000;
    --cf-theme-badge-bg: #272c33;
    --cf-theme-badge-text: #fff;
    --cf-theme-badge-dim-bg: #dbdde1;
    --cf-theme-badge-dim-text: #000;
    --cf-theme-carousel-dot: rgba(0, 0, 0, 0.6);
    --cf-theme-carousel-dot-active: #000;
    --cf-theme-dropdown-border: #f3f3f3;
    --cf-theme-dropdown-bg: #fff;
    --cf-theme-dropdown-hover-bg: #f3f3f3;
    --cf-theme-tooltip-bg: #fff;
    --cf-theme-tooltip-border: #f3f3f3;
    --cf-theme-tooltip-arrow: #f3f3f3;
    --cf-theme-tooltip-arrow-after: #fff;
    --cf-theme-checkbox-bg: #fff;
    --cf-theme-checkbox-border: #949aa4;
    --cf-theme-checkbox-checked: #272c33;
    --cf-theme-checkbox-active-border: #596170;
    --cf-theme-checkbox-dis-bg: #f3f3f3;
    --cf-theme-checkbox-dis-border: #dbdde1;
    --cf-theme-checkbox-dis-active-border: #dbdde1;
    --cf-theme-form-bg: #fff;
    --cf-theme-form-border: #949aa4;
    --cf-theme-form-elem-color: #000;
    --cf-theme-form-elem-placehold-color: rgba(0, 0, 0, 0.3);
    --cf-theme-form-dis-bg: #f3f3f3;
    --cf-theme-form-dis-border: inset 0 0 0 1px #dbdde1;
    --cf-theme-form-dis-active: #dbdde1;
    --cf-theme-form-dis-elem: rgba(0, 0, 0, 0.3);
    --cf-theme-form-append: rgba(0, 0, 0, 0.3);
    --cf-theme-radio-bg: #fff;
    --cf-theme-radio-border: #949aa4;
    --cf-theme-radio-checked: #000;
    --cf-theme-radio-dis-bg: #f3f3f3;
    --cf-theme-radio-dis-border: inset 0 0 0 1px #dbdde1;
    --cf-theme-select-menu-bg: #fff;
    --cf-theme-select-menu-border: #f3f3f3;
    --cf-theme-select-option-bg: #f3f3f3
}

.cfBackgroundContainer {
    position: absolute;
    left: 0;
    top: 0
}

.contentContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%
}

.backgroundContent {
    flex: 1;
    width: 100%
}

.modalClose {
    position: absolute;
    right: 0;
    top: 0;
    margin: var(--cf-scale-2);
    opacity: 0.5;
    z-index: 1052;
    cursor: pointer;
    transition: opacity 0.2s ease
}

.cfPadding {
    padding-top: var(--cf-scale-6);
    padding-bottom: var(--cf-scale-6);

    padding-left: var(--cf-scale-4);
    padding-right: var(--cf-scale-4);
}

.loginTitle {
    text-align: center !important;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-size: var(--cf-scale-6);
    font-family: "Sohne", "Helvetica", "Apercu", sans-serif
}

.mb4 {
  margin-bottom: var(--cf-scale-4);
}


.orSeparator {
    width: 100%;
    margin-top: var(--cf-scale-2);
    opacity: 0.6 !important;
    background: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.06em;
    text-transform: uppercase !important;
    font-size: var(--cf-scale-2);
   
   
   text-align: center; 
   border-bottom: 1px solid rgba(0, 0, 0, 0.178); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
    
}

.orSeparator span {
  
    padding: 0 0.75em;
    background: #fff;
    
}


.textCenter {
    text-align: center !important;
    margin-top: var(--cf-scale-4)
}
.textLink {
    text-decoration: underline;
    cursor: pointer;
}
.passForget {
    text-align: center !important;
    text-decoration: underline;
    cursor: pointer;

}




