@import 'styles/theme';
.sideLayout {
    box-shadow: 0 2px 8px 2px rgb(28 29 31 / 15%);
    padding-bottom: 2rem;
    background-color: #fff;
}

.layout {
    margin-top: 3rem;
    margin-left: 6rem;
    margin-right: 4rem;
   
}

.mb {
    margin-bottom: 10px;
}