.lectureItemContainer {
    height: 41px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0 1.5rem 0 0;
    cursor: pointer;
    line-height: 1.7;
    text-align: left;
    align-items: stretch;
    background: var(--psColorsBackgroundDark2);
    color: var(--psColorsTextIconLowOnDark);
    display: flex;
    &.isCurrent {
        color: var(--psColorsPrimaryActionTextDarkTheme)
    }
   
}

.lectureItemContainer:focus, .lectureItemContainer:active {
    color: var(--psColorsPrimaryActionTextDarkTheme)
 }

.iconContainer {
    width: 63px;
    align-self: stretch;
    position: relative;
    display: flex;
    align-items: center;
}

.iconPosition {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    z-index: var(--zIndexContenItemCircle);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3b3b3;
    position: relative;
    top: -1px;
    &.isCurrent {
        background-color: var(--psColorsPrimaryActionTextDarkTheme)
    }
}




.svgIcon {
    fill: var(--psColorsBackgroundDark2);
    width: 10px;
    height: 10px;
}

.lectureItemDisplay {
    min-width: 0;
    align-items: center;
    flex: 1 1;
    display: flex
}

.lectureItemH3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--psTypeFontSizeSmall);
    letter-spacing: var(--letterSpacingFontSizeSmall);
    font-weight: var(--psTypeFontWeightBook);
    flex: 1 1;
    margin: 0;
}

.textCenter {
 align-items: center;
 display: flex;

}

.textCenter span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lectureDuration {
    min-width: 3.7rem;
    text-align: right;
    font-size: var(--psTypeFontSizeXSmall);
    letter-spacing: var(--letterSpacingFontSizeXSmall);
    font-weight: var(--psTypeFontWeightBook);
    flex: none;
}