@import "~styles/cc";

.container {
  position: relative;
}

.backgroundIconContainer {
  position: absolute;
  right: 0;
  top: 8rem;

  @include screen-size-lte($grid-md-min) {
    top: 4rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
